*{
    user-select:none;
}

body{
    background: rgb(45,222,255);
    background: radial-gradient(circle, rgba(45,222,255,1) 0%, rgba(10,76,88,1) 93%, rgba(0,98,116,1) 100%);
    height:100vh;
    overflow:hidden;
}

#app{
    margin:auto;
    background-color: #247024;
    height:98vh;
    min-width:1500px;
    width:70%;
    overflow:hidden;
    border: 4px solid black;
}
.game{
    display:flex;
    flex-direction:column;
}
.deck-and-draw{
    display:flex;
    justify-content: space-between;
}
.deck{
    margin-right: 40px;
    width:175px;
    height:245px;
    background-image: url(../card_images/back.svg);
    background-size: contain;
    border-radius:15px;
    border:2px solid black;
}

.drawPile{
    width:175px;
    height:245px;
    position:relative;
}

.drawPile > * {
    position:absolute;
    top:0;
    left:0;
}

.tableauContainer{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    width:90%;
    margin:auto;
}

.tableau{
    display:flex;
    flex-direction:column;
    width:175px;
    min-width:200px;
}

.card{
    display: inline-block;
    width:175px;
    height:245px;
    background-color:white;
    border-radius:15px;
    border:2px solid black;
    position:relative;
    margin-top:0%;
    margin-bottom: -190px;
}

.card__value{
    position:absolute;
    top:5%;
    left:10%;
    font-size: 2em;
}

.card__suit{
    position:absolute;
    display:block;
    width:15%;
    height:15%;
    top:5%;
    right:10%;
}

.card__suit--club{
    background-image: url(../card_images/club.svg);
    background-repeat: no-repeat;
}

.card__suit--spade{
    background-image: url(../card_images/spade.svg);
    background-repeat: no-repeat;
}

.card__suit--heart{
    background-image: url(../card_images/heart.svg);
    background-repeat: no-repeat;
}

.card__suit--diamond{
    background-image: url(../card_images/diamond.svg);
    background-repeat: no-repeat;
}


.foundationContainer{
    display:flex;
    flex-direction:row;
    justify-content: right;
    margin-left: 100px;
}

.foundation{
    max-width:175px;
}

.foundation--empty{
    display: inline-block;
    align-self: flex-start;
    width:175px;
    height:245px;
    border-radius:15px;
    border:2px solid black;
    margin-left: 10px;
}

.card--face-down{
    background-image: url(../card_images/back.svg);
    background-size: contain;
}

.card--face-down > *{
    display:none;
}

.top-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin:auto;
    margin-top:25px;
    margin-bottom: 75px;

}

.menu{
    display:flex;
    flex-direction:row;
    width:100%;
    justify-content: space-between;
    margin:auto;
}

.title{
    height:120px;
}


.new-game{
    background-color:white;
    background: linear-gradient(to bottom, rgb(255, 255, 84), gold);
    font-size:1.25em;
    margin:0;
    height: 50px;
    padding: 5px;
    color:black;
    border: none;
    border-radius: 50px;
}
.new-game:hover{
    background: linear-gradient(to bottom right,gold,rgb(255, 255, 84));
}

.new-game:active{
    position:relative;
    top:1px;
}

.new-game:focus{
    outline-width: 0;
}

.win{
    margin:auto;
    height: 300px;
}
