body{
    background-color:rgb(34, 92, 34);
    width:80%;
    margin:auto;
}
.game{
    display:flex;
    flex-direction:column;
}
.deck-and-draw{
    display:flex;
    justify-content: space-between;
}
.deck{
    margin-right: 75px;
    width:200px;
    height:300px;
    background-color:#ff0000;
    border-radius:15px;
    border:2px solid black;
}

.drawPile{
    width:200px;
    height:300px;
    border-radius:15px;
    border:2px solid black;
    position:relative;
}

.drawPile > * {
    position:absolute;
    top:0;
    left:0;
}

.tableauContainer{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    width:75%;
    margin:auto;
}

.tableau{
    display:flex;
    flex-direction:column;
    width:200px;
    min-width:200px;
}

.card{
    display: inline-block;
    width:200px;
    height:300px;
    background-color:white;
    border-radius:15px;
    border:2px solid black;
    position:relative;
    margin-top:0%;
    margin-bottom: -260px;
}

.card__value{
position:absolute;
top:5%;
left:5%;
font-size: 1.5em;
}

.card__suit{
position:absolute;
display:block;
width:15%;
height:15%;
top:5%;
right:10%;
}

.card__suit--club{
    background-image:url(../card_images/club.svg);
    background-repeat: no-repeat;
}

.card__suit--spade{
    background-image:url(../card_images/spade.svg);
    background-repeat: no-repeat;
}

.card__suit--heart{
    background-image:url(../card_images/heart.svg);
    background-repeat: no-repeat;
}

.card__suit--diamond{
    background-image:url(../card_images/diamond.svg);
    background-repeat: no-repeat;
}


.foundationContainer{
    display:flex;
    flex-direction:row;
    justify-content: right;
}

.foundation{
    max-width:200px;
}

.foundation--empty{
    display: inline-block;
    align-self: flex-start;
    width:200px;
    height:300px;
    border-radius:15px;
    border:2px solid black;
    position:relative;
    margin-top:0%;
    margin-bottom: -120%;
}

.card--face-down{
    background-image: url(../card_images/back.svg);
    background-size: contain;
}

.card--face-down > *{
    display:none;
}
.card--selected{
    filter: hue-rotate(90deg)
}

.top-row{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 75px;
    width: 75%;
    margin:auto;
    margin-top:75px;
    margin-bottom: 75px;
}