
.foundationContainer{
    display:flex;
    flex-direction:row;
    width: 800px;
}

.foundation{
    display:flex;
    flex-direction:column;
    width:25%;
}


.tableauContainer{
    display:flex;
    flex-direction:row;
    width: 1400px;
}

.tableau{
    display:flex;
    flex-direction:column;
    width:25%;
}

.card{
    display: inline-block;
    align-self: flex-start;
    width:200px;
    height:300px;
    background-color:#fcffab;
    border-radius:15px;
    border:2px solid black;
    position:relative;
}

.card__value{
position:absolute;
top:5%;
left:5%;
}

.card__suit{
position:absolute;
top:10%;
left:5%;
}